.imagclass{
	width: 50px;
	height: 50px;
 border-radius: 50%;
  margin-top: 4px;
  margin-bottom: 4px;
}
a{
	text-decoration: none;
	opacity: 1;
	padding: 15px;
	/*border-bottom: 2px solid black*/
	font-size: 20px;
 color: black;

}
li{
	display:inline-block;
	padding: 15px;
	
	
}
.navclass{
	background-color: darkgray;
	
}
.second{
	margin-left: 700px;
}
ul{
	width: 100%;
	padding-bottom: 26px;
	padding-top: 13px;
	justify-content: center;
	color: black;
}
*{
	margin-top: 0px;
	padding-top: 0px;
}
.text-center{
    text-align: center;
}
.about-1 h1{
    margin: 30px;
    padding: 5px;
}
.hover:hover{
    background-color: aqua;
    box-shadow: 10px 10px black;
    border-radius: 10px;
}
.hover{
	border-radius: 10px;
	background-color: white;
}
.cardimg{
	border-radius: 50%;
	height: 200px;
	width: 200px;
}
.card{
	margin: 20px;
}